<h1>Cocktails#new</h1>
<p>Find me in app/views/cocktails/new.html.erb</p>


<%= form_for(@cocktail) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

<p class="mt-3"><%= link_to 'back to cocktails', cocktails_path  %></p>

  <%= f.submit %>
<% end %>
